*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* gallery   */
section.gallery{
  background-color: crimson;
  padding: 40px 30px;
}

section.gallery h1{
  margin-bottom: 20px;
  color: beige;
  font-weight: 700;
}

.gallery-content{
  display: grid;
  gap: 3px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 120px);
}

.gallery-content div img{
  width: 100%;
  height: 100%;
}

.big-layout{
  grid-column: span 6;
  grid-row: span 2;
}

.normal-layout{
  grid-column: span 2;
  grid-row: span 2;
}

.mideum-layout{
  grid-column: span 2;
}

@media screen and (max-width: 576px) {
  section.gallery{
   padding: 20px 10px;
  }
  .gallery-content{
    grid-template-columns: repeat(2, 1fr);
  }

  .big-layout,
  .mideum-layout,
  .normal-layout{
    grid-row: span 1;
    grid-column: span 1;
  }
}

/* layout-design */
section.layout-design{
  margin-top: 40px;
  padding: 30px 20px;
  background-color: black;
}

section.layout-design h1{
  color: beige;
  margin-bottom: 20px;
  text-align: center;
}


.ld-content div{
  background-color: gray;
}

.ld-content .crimson{
  background-color: crimson;
}


.ld-content{
  justify-content: center;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, 70px);
  grid-template-rows: repeat(3, 70px) 20px 20px;
}

.ld-content .div-1{
  grid-row: span 5;
}

.ld-content .div-11, .div-12{
  grid-column: span 3;
}

@media screen and (max-width: 320px) {
  .ld-content{
    grid-template-columns: repeat(4, 50px);
    grid-template-rows: repeat(3, 50px) 20px 20px;
}
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .ld-content{
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(3, 100px) 20px 20px;
}
}

@media screen and (min-width: 1441px) and (max-width: 2560px) {
  section.layout-design h1{
    font-size: 5em;
    margin-bottom: 80px;
  }
  .ld-content{
    gap: 20px;
    grid-template-columns: repeat(4, 300px);
    grid-template-rows: repeat(3, 300px) 80px 80px;
}
}

/* body layout */
section.body-layout{
  margin: 40px 0;
  padding: 0 20px;
}

section.body-layout h1{
  margin-bottom: 20px;
}

.bl-content div{
  background-color:rgb(255, 243, 132);
  border: 4px solid rgb(255, 230, 0);
  border-radius: 3px;
}

.bl-content .header, .sidebar, .advertising, .footer{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  font-size: 20px;
  font-weight: 700;
}

.bl-content .nav-bar{
  padding: 40px;
  text-align: center;
  align-content: center;
}

.bl-content .nav-bar a{
  display: block;
  font-size: 20px;
}

.bl-content .main-area{
  padding: 40px;
}

.bl-content .main-area h2{
  margin-bottom: 20px;
}

.bl-content .header{
  grid-area: header;
}

.bl-content .nav-bar{
  grid-area: nav-bar;
}

.bl-content .main-area{
  grid-area: main-area;
}

.bl-content .sidebar{
  grid-area: sidebar;
}

.bl-content .advertising{
  grid-area: advertising;
}

.bl-content .footer{
  grid-area: footer;
}

.bl-content{
  display: grid;
  gap: 15px;
  grid-template-areas: 
  "header  header    header    header"
  "nav-bar main-area main-area sidebar"
  "nav-bar main-area main-area advertising" 
  "footer  footer    footer    footer";
}

@media screen and (max-width: 576px) {
  section.body-layout h1{
    font-size: 1.70em;
}

  .bl-content{
    grid-template-areas: "header"
                         "nav-bar"
                         "main-area" 
                         "sidebar"
                         "advertising"
                         "footer";
}

.bl-content .header, .sidebar, .advertising, .footer{
  padding: 10px;
}
}

@media screen and (min-width: 577px) and (max-width: 992px) {
  .bl-content .header, .sidebar, .advertising, .footer{
    padding: 10px;
  }
}